.radio-group-custom .ant-radio-button-wrapper:hover {
  background-color:#3d3100 !important;
  color:white !important;
  
}

.custom-radio .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  background-color: #D4AF37 !important;
  border-color:#D4AF37 !important;
  color: #3d3100 !important;
}