.loder-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.spinner {
  width: 70px;
  height: 70px;
  border: 7px solid rgba(0, 0, 0, 0.1);
  border-top: 8px solid #910A52;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}