@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide {
    -ms-overflow-style: none;
    /* For Internet Explorer and Edge */
    scrollbar-width: none;
    /* For Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
    /* For Chrome, Safari, and Edge */
}
.product-desc ul{
    list-style-type: disc;
    padding-left: 20px; 
}